<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<style>
		.ui-widget, .ui-widget .ui-widget { font-size: 97% !important; }
	</style>
	<script type="text/javascript">
		var contextPath = '#{request.contextPath}';
	</script>
</h:head>

<h:body>

	<div id="page">

		<div id="header">
			<ui:insert name="header">
				<ui:include src="/template/header.xhtml" />
			</ui:insert>
		</div>

  		<ui:include src="/template/sessionTimer.xhtml" />

		<div id="content">
			<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td align="center">
						 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					    </p:confirmDialog>
						<ui:insert name="content">
							<ui:include src="/template/content.xhtml" />
						</ui:insert>
					</td>
				</tr>
			</table>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/template/footer.xhtml" />
			</ui:insert>
		</div>

	</div>

</h:body>
</html>