<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core">
  <h:head>
  <script type="text/javascript">
    var countDownTime = new Date().getTime(); //in miliseconds
    var sessionTime = (#{session.maxInactiveInterval} * 1000); //in miliseconds
    var whenToShowAdditionalTimeDialog = 60000; //in miliseconds
    
    if(sessionTime == 60000) {
    	whenToShowAdditionalTimeDialog = 30000; //in miliseconds
    }

    var isAdditionalTimeDialogShowed = false;
    var countDownStarted = false;
    var minute = 1;
    var second = 00;

    function countDownInit() {
      countDownTime = (new Date()).getTime();
      minute = 1;
      second = 00;
      countDownStarted = false;
    }

    function checkCountDown() {
      var now = (new Date()).getTime();
      var remainingTime = sessionTime - whenToShowAdditionalTimeDialog;
      var logout = false;
      
      if ((now - countDownTime) > remainingTime) {
        PF('additionalTimeDialog').show();
        countDownStarted = true;
      }
      if (countDownStarted) {
        second = second - 1;
        if (0 > second) {
        //  second = 59;
          second = (whenToShowAdditionalTimeDialog / 1000);
          minute = minute - 1;
        }
        if (0 > minute) {
          exit();
          return;
        }
        document.getElementById('additionalTimeDialog:secondOutput').innerHTML = second;
      }
    } 
    function exit() {
      document.location.href = '${request.contextPath}/jsf/logout.xhtml';
    }
    window.setInterval(checkCountDown, 1000);
    </script>
  </h:head>
 
  <h:body>
    <p:dialog modal="true" widgetVar="additionalTimeDialog" header="Alert" 
         draggable="false" closable="false" width="475">
      <h:form id="additionalTimeDialog">
			<p:panel>
				<table width="100%">
				<tr>
					<td>
						Your session time will expire in 
		        		<h:outputText id="secondOutput" /> seconds.
        			</td>
        		</tr>
        		<tr>
					<td>
		        		<h:outputText value="Do you want extra time ?"/>
        			</td>
        		</tr>
        		<tr><td><p/></td></tr>
				<tr>
					<td align="center">
						<p:commandButton value="Yes" icon="ui-icon-check"
							action="#{sessionBean.continueSession}"
							oncomplete="PF('additionalTimeDialog').hide();countDownInit();" />
						<p:commandButton value="No" oncomplete="exit();" icon="ui-icon-close" />
					</td>
				</tr>
				</table>
			</p:panel>
		</h:form>
    </p:dialog>
    
    

  </h:body>
</html>