<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
	</script>
	<script type="text/javascript">
		if (parent) {
			parent.countDownInit();
		}
	</script>
	<title>#{reportView.storeName} stock update between #{reportView.formattedFromDate} and #{reportView.formattedEndDate} </title>
</h:head>
<h:body>

	<div id="content">
		<table width="100%" cellpadding="0" cellspacing="0" border="0"
			align="center">
			<tr>
				<td align="center">
					<h:form>
						<h:panelGrid columns="2">
						<ui:repeat var="stockData" value="#{reportView.stockData}" varStatus="status">
						<p:dataTable id="reportListGrid" var="stockView"
							value="#{stockData.stockReportData}" widgetVar="myTable" rows="50"
							style="width:1520px;align:center;" scrollable="true"
							resizableColumns="true">
					        <f:facet name="header">#{stockData.item} #{stockData.type} </f:facet>

							<p:column headerText="Supplier Name" rendered="#{stockData.type.equals('NEW STOCK')?true:false}">
								<h:outputText value="#{stockView.supplierName}" />
							</p:column>
							<p:column headerText="Supplier Mobile" rendered="#{stockData.type.equals('NEW STOCK')?true:false}">
								<h:outputText value="#{stockView.supplierMobile}" />
							</p:column>
							<p:column headerText="Driver Mobile" rendered="#{stockData.type.equals('NEW STOCK')?true:false}">
								<h:outputText value="#{stockView.driverMobile}" />
							</p:column>
							<p:column headerText="Vehicle Number" rendered="#{stockData.type.equals('NEW STOCK')?true:false}">
								<h:outputText value="#{stockView.vehicleRegNum}" />
							</p:column>
							<p:column headerText="Remarks">
								<h:outputText value="#{stockView.remarks}"  title="#{stockView.remarks}"/>
							</p:column>
							<p:column headerText="#{stockData.type.equals('NEW STOCK')?'Received Date':'Consumption Date'}">
								<h:outputText value="#{stockView.entryDate}" title="#{stockView.entryDate}">
									 <f:convertDateTime pattern="dd/MM/yyyy HH:mm a" timeZone="Asia/Calcutta"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="Volume">
								<h:outputText value="#{stockView.volume}" />
							</p:column>
							
							<p:column headerText="Quantity">
								<h:outputText value="#{stockView.quantity}" />
							</p:column>

							<p:columnGroup type="footer">
				                <p:row>
				                	<p:column/><p:column/><p:column/><p:column/><p:column/><p:column/>
				                	<p:column footerText="#{stockData.volume}" style="text-align:right"/>
				                    <p:column footerText="#{stockData.quantity}" style="text-align:right"/>
				                </p:row>
				                <p:row rendered="#{status.odd}">
				                    <p:column colspan="8" footerText="Opening Stock Balance = #{stockData.openingStockBalance}" style="text-align:center"/>
				                </p:row>
				                <p:row rendered="#{status.odd}">
				                    <p:column colspan="8" footerText="Opening Volume Balance = #{stockData.openingVolumeBalance}" style="text-align:center"/>
				                </p:row>
				                <p:row rendered="#{status.odd}">
				                    <p:column colspan="8" footerText="Current Balance = #{stockData.currentStockBalance}" style="text-align:center"/>
				                </p:row>
				                <p:row rendered="#{status.odd}">
				                    <p:column colspan="8" footerText="Current Volume Balance = #{stockData.currentVolumeBalance}" style="text-align:center"/>
				                </p:row>
				            </p:columnGroup>

						</p:dataTable>
						<p:spacer rendered="#{status.odd}" height="100"></p:spacer>
						</ui:repeat>
					</h:panelGrid>
					</h:form>
					</td>
			</tr>
		</table>
	</div>

</h:body>
</html>
