<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
		
	</script>

	<style>
		.ui-dialog {
    		width: auto !important;
		}
	</style>	
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="reportListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />
				<h:panelGrid columns="2">
					<p:panel header="Item report ">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="9" id="matchGrid" cellpadding="5"
							style="align:center">

							<p:outputLabel for="storeId" value="Store : " />
							<p:selectOneMenu id="storeId" value="#{reportView.storeId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{store.storesMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{reportView.itemId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="false">
								<f:selectItem itemLabel="All Item" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{item.itemsMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="fromDate" value="From Date:" />
							<p:calendar id="fromDate" label="fromDate"
								value="#{reportView.fromDate}" showOn="button"
								pattern="dd/MM/yyyy" required="true" navigator="true"  mask="true"
								mode="popup" requiredMessage="From date is mandatory " />
							<p:column />

							<p:outputLabel for="endDate" value="End Date:" />
							<p:calendar id="endDate" label="endDate"
								value="#{reportView.endDate}" showOn="button"
								pattern="dd/MM/yyyy" required="true" navigator="true"  mask="true"
								mode="popup" requiredMessage="End date is mandatory " />
							<p:column />

							<p:column />
							<p:column />
							<p:column />
							<p:commandButton icon="ui-icon-check" value="Search" ajax="true"
								validateClient="true"
								style="margin-right:10px"
								action="#{reportView.showItemWiseReportDialog()}"/>	
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />
 
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
					<table>
						<tr><td><h:outputText value="Generating report"/></td></tr>
					<tr><td> 
				    <p:graphicImage name="/images/ajaxloadingbar.gif" />
				    </td></tr>
				    </table>
				</p:dialog>


				<p:dialog id="storeReportListGridDialog" widgetVar="storeReportListGridDialog" resizable="true"
					modal="true" closable="true" closeOnEscape="true" maximizable="true">
					
					<h:panelGrid columns="2">
						<ui:repeat var="stockData" value="#{reportView.stockData}">
						<p:dataTable id="reportListGrid" var="stock"
							value="#{stockData.stockReportData}" widgetVar="myTable" rows="50"
							style="width:1420px;align:center;" scrollable="true"
							scrollHeight="400" resizableColumns="true">
					        <f:facet name="header">#{reportView.storeName} Item Report</f:facet>
					        
					        <p:columnGroup type="header">
					        <p:row>
					        	<p:column headerText="Item Name" />
				                <p:column headerText="Quantity" />
				                <p:column headerText="Supplier" />
				                <p:column headerText="Supplier Mobile" />
				                <p:column headerText="Driver Mobile" />

				                <p:column headerText="Vehicle Num" />
				                <p:column headerText="Remarks" />
				                <p:column headerText="Entry Date" />
				            </p:row>
				            </p:columnGroup>

				            <f:facet name="header">
				                <h:outputText value="#{stock.operation.equals('I')?' Dispersed Stock':' New Stock'}" />
				            </f:facet>

							<p:column headerText="Item Name">
								<h:outputText value="#{stock.itemName}" />
							</p:column>

							<p:column headerText="Quantity">
								<h:outputText value="#{stock.quantity}" />
							</p:column>
							<p:column headerText="Supplier Name">
								<h:outputText value="#{stock.supplierName}" />
							</p:column>
							<p:column headerText="Supplier Mobile">
								<h:outputText value="#{stock.supplierMobile}" />
							</p:column>
							<p:column headerText="Driver Mobile">
								<h:outputText value="#{stock.driverMobile}" />
							</p:column>
							<p:column headerText="Vehicle Number">
								<h:outputText value="#{stock.vehicleRegNum}" />
							</p:column>
							<p:column headerText="Remarks">
								<h:outputText value="#{stock.remarks}" />
							</p:column>
							<p:column headerText="Entry Date">
								<h:outputText value="#{stock.entryDate}" />
							</p:column>

							<p:columnGroup type="footer">
				                <p:row>
				                    <p:column footerText="" style="text-align:right"/>
				                    <p:column footerText="#{stockData.quantity}" />
				                </p:row>
				            </p:columnGroup>
							<f:facet name="footer">
					            Data between #{reportView.fromDate} and #{reportView.endDate}
					        </f:facet>
						</p:dataTable>
						</ui:repeat>
					</h:panelGrid>
				</p:dialog>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>