<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
		
	</script>

	<style>
		.ui-dialog {
    		width: auto !important;
		}
	</style>	
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="stockUpdateListForm">
				<h:panelGrid columns="2">
					<p:panel header="Please select your report criteria">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="9" id="matchGrid" cellpadding="5"
							style="align:center">

							<p:outputLabel for="storeId" value="Store : " />
							<p:selectOneMenu id="storeId" value="#{reportView.storeId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{store.storesMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="endDate" value="Till Date:" />
							<p:calendar id="endDate" label="fromDate"
								value="#{reportView.endDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" navigator="true"
								mode="popup"/>
							<p:column />

							<p:column />
							<p:column />
							<p:column />
							<p:commandButton icon="ui-icon-check" value="Search" ajax="true"
								update=":stockUpdateListForm:stockUpdateListGridDialog" validateClient="true"
								style="margin-right:10px"
								action="#{reportView.showStockUpdateForStoreByDateReport()}" oncomplete="PF('stockUpdateListGridDialog').show();"/>	
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<p:dialog id="stockUpdateListGridDialog" widgetVar="stockUpdateListGridDialog" resizable="true"
					modal="true" closable="true" closeOnEscape="true" maximizable="true">
					<h:panelGrid columns="2">
						<p:dataTable id="reportListGrid" var="stockData"
							value="#{reportView.stockBalanceData}" widgetVar="myTable" rows="50"
							style="width:640px;align:center;" scrollable="true"
							scrollHeight="400" resizableColumns="true">
					        <f:facet name="header">#{reportView.storeName} Stock Update Report till #{reportView.formattedEndDate}</f:facet>
					        
					        <p:columnGroup type="header">
					        <p:row>
					        	<p:column headerText="Item Name" />
				                <p:column headerText="Quantity" />
				            </p:row>
				            </p:columnGroup>


							<p:column headerText="Item Name">
								<h:outputText value="#{stockData.itemName}" />
							</p:column>

							<p:column headerText="Quantity">
								<h:outputText value="#{stockData.quantity}" />
							</p:column>

							<f:facet name="footer">
					        </f:facet>
						</p:dataTable>
					</h:panelGrid>
					
					<h:panelGrid columns="2">
						<ui:repeat var="stockData" value="#{reportView.stockData}" varStatus="status">
						<p:dataTable id="reportListGrid" var="stockView"
							value="#{stockData.stockReportData}" widgetVar="myTable" rows="50"
							style="width:1520px;align:center;" scrollable="true"
							resizableColumns="true">
					        <f:facet name="header">#{stockData.item} </f:facet>

							<p:columnGroup type="header">
					        <p:row>
					        	<p:column headerText="Item Name" />
				                <p:column headerText="Quantity" />
				            </p:row>
				            </p:columnGroup>


							<p:column headerText="Item Name">
								<h:outputText value="#{stockView.itemName}" />
							</p:column>

							<p:column headerText="Quantity">
								<h:outputText value="#{stockView.quantity}" />
							</p:column>

							<f:facet name="footer">
					        </f:facet>
							
							<p:columnGroup type="footer">
				                <p:row>
				                	<p:column/><p:column/><p:column/><p:column/><p:column/><p:column/>
				                    <p:column footerText="#{stockView.quantity}" style="text-align:right"/>
				                </p:row>
				            </p:columnGroup>

						</p:dataTable>
						<p:spacer rendered="#{status.odd}" height="100"></p:spacer>
						</ui:repeat>
					</h:panelGrid>
				</p:dialog>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>