<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
		
	</script>
</h:head>
<h:body>

	<div id="content">
		<table width="100%" cellpadding="0" cellspacing="0" border="0"
			align="center">
			<tr>
				<td align="center">
					<h:form>
						<h:panelGrid columns="2">
						<p:dataTable id="reportListGrid" var="stockData"
							value="#{reportView.stockData}" widgetVar="myTable" rows="50"
							style="width:1420px;align:center;" scrollable="true"
							scrollHeight="400" resizableColumns="true" 
							paginatorTemplate="{Exporters}" paginator="true">
  							<div style="float:right">	
					        <f:facet name="{Exporters}">
					            <p:commandButton value="Export to excel" ajax="false">
					                <p:dataExporter type="xls" target="reportListGrid" fileName="storeWiseItemReport" />
					            </p:commandButton>
					 
					            <p:commandButton value="Export to PDF" ajax="false">
					                <p:dataExporter type="pdf" target="reportListGrid" fileName="storeWiseItemReport"/>
					            </p:commandButton>

					        </f:facet>
					        </div>

							<p:subTable var="stock" value="#{stockData.stockReportData}">
					            <f:facet name="header">
					                <h:outputText value="#{stock.operation.equals('I')?'New Stock':'Dispersed'}" />
					            </f:facet>
	
								<p:column headerText="Item Name">
									<h:outputText value="#{stock.itemName}" />
								</p:column>
								<p:column headerText="Stock Type">
									<h:outputText
										value="#{stock.operation.equals('I')?'New Stock':'Dispersed'}" />
								</p:column>
								<p:column headerText="Quantity">
									<h:outputText value="#{stock.quantity}" />
								</p:column>
								<p:column headerText="Supplier Name">
									<h:outputText value="#{stock.supplierName}" />
								</p:column>
								<p:column headerText="Supplier Mobile">
									<h:outputText value="#{stock.supplierMobile}" />
								</p:column>
								<p:column headerText="Driver Mobile">
									<h:outputText value="#{stock.driverMobile}" />
								</p:column>
								<p:column headerText="Vehicle Number">
									<h:outputText value="#{stock.vehicleRegNum}" />
								</p:column>
								<p:column headerText="Remarks">
									<h:outputText value="#{stock.remarks}" />
								</p:column>
								<p:column headerText="Entry Date">
									<h:outputText value="#{stock.entryDate}" />
								</p:column>
								
								<p:columnGroup type="footer">
					                <p:row>
					                    <p:column colspan="2" footerText="Totals: " style="text-align:right"/>
					                    <p:column footerText="#{stockData.quantity}" />
					                </p:row>
					            </p:columnGroup>
								
							</p:subTable>
						</p:dataTable>
					</h:panelGrid>
					</h:form>
					</td>
			</tr>
		</table>
	</div>

</h:body>
</html>
