<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
		
	</script>

	<style>
		.ui-dialog {
    		width: auto !important;
		}
	</style>	
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<table>
					<tr>
						<td><h:outputText value="Please wait ..." /></td>
					</tr>
					<tr>
						<td><p:graphicImage name="/images/ajaxloadingbar.gif" />
						</td>
					</tr>
				</table>
			</p:dialog>

			<h:form id="transferFromReportListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />
				<h:panelGrid columns="2">
					<p:panel header="Transfered Items Sent Report">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="9" id="matchGrid" cellpadding="5"
							style="align:center">

							<p:outputLabel for="storeId" value="Store : " />
							<p:selectOneMenu id="storeId" value="#{transferReportView.storeId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{store.storesMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="fromDate" value="From Date:" />
							<p:calendar id="fromDate" label="fromDate"
								value="#{transferReportView.fromDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" navigator="true"
								mode="popup"/>
							
							<p:outputLabel for="endDate" value="Till Date:" />
							<p:calendar id="endDate" label="endDate"
								value="#{transferReportView.endDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" navigator="true"
								mode="popup"/>
							<p:column />
							<p:column />
							<p:commandButton icon="ui-icon-check" value="Search" ajax="true"
								update=":transferFromReportListForm:transferFromReportListGrid" validateClient="true"
								style="margin-right:10px"
								action="#{transferReportView.showTransferFromReport()}" oncomplete="handleTransferReportComplete(xhr, status, args)"/>	
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<p:dialog id="transferFromReportListGridDialog" widgetVar="transferFromReportListGridDialog" resizable="true"
					modal="true" closable="true" closeOnEscape="true" maximizable="true" width="75%" height="75%">
					<h:panelGrid columns="2">
						<p:dataTable id="transferFromReportListGrid" var="transferData"
							value="#{transferReportView.transferList}" widgetVar="myTable" rows="50"
							style="align:center;" scrollable="true"
							scrollHeight="400" resizableColumns="true">
					        <f:facet name="header">Stocks transferred from #{transferReportView.fromStoreName} store from #{transferReportView.formattedFromDate} till #{transferReportView.formattedEndDate}</f:facet>

							<p:column headerText="To Store">
								<h:outputText value="#{transferData.storeName}" />
							</p:column>
							<p:column headerText="Item Name">
								<h:outputText value="#{transferData.itemName}" />
							</p:column>
							<p:column headerText="Quantity">
								<h:outputText value="#{transferData.quantity}" />
							</p:column>

							<p:column headerText="Volume">
								<h:outputText value="#{transferData.volume}" />
							</p:column>
							
							<p:column headerText="Remark">
								<h:outputText value="#{transferData.remark}" />
							</p:column>
							
							<p:column headerText="TransferDate">
								<h:outputText value="#{transferData.transferDate}" />
							</p:column>

							<f:facet name="footer">

					        </f:facet>
						</p:dataTable>
					</h:panelGrid>
				</p:dialog>
			</h:form>
			
			<h:outputScript target="head">
				function handleTransferReportComplete(xhr, status, args) {
					if (args.dataAvailable == 'true') {
						PF('transferFromReportListGridDialog').show();
					}
				}
				
			</h:outputScript>
			
		</ui:define>
	</ui:composition>

</h:body>

</html>