<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

	<h:panelGrid columns="2">
		<h:form id="userForm">
			<p:panel header="Change Password " style="width:620px;align:center;">
			<p:messages autoUpdate="true" />
			<h:panelGrid columns="2" id="matchGrid" cellpadding="5" style="align:center">
				<p:spacer height="10"></p:spacer>
				<p:column colspan="2"></p:column>
				
				<p:outputLabel for="oldPassword" value="Old Password : " />
				<p:password id="oldPassword" value="#{UserView.oldPassword}"
					autocomplete="false" required="true" requiredMessage="Old password is a mandatory field">
					<f:validateLength minimum="5" maximum="15" />
				</p:password>

				<p:outputLabel for="newPassword" value="New Password : " />
				<p:password id="newPassword" value="#{UserView.password}"
					match="confPassword" label="Password" required="true"
					autocomplete="false" requiredMessage="New Password is a mandatory field" feedback="true">
					<f:validateLength minimum="5" maximum="15" />
				</p:password>

				<p:outputLabel for="confPassword" value="Confirm Password : " />
				<p:password id="confPassword" value="#{UserView.confirmPassword}"
					label="Password" required="true" autocomplete="false" requiredMessage="Confirm password is a mandatory field">
					<f:validateLength minimum="5" maximum="15" />
				</p:password>

				<p:commandButton icon="ui-icon-check" value="Update" ajax="true"
					validateClient="true" style="margin-right:10px"
					action="#{UserView.changePassword()}">
					<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
				</p:commandButton>
			</h:panelGrid>
			</p:panel>
		</h:form>
		</h:panelGrid>
		</ui:define>
	</ui:composition>

</h:body>

</html>