<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
			<h:form id="supplierForm">

				<p:inputText type="hidden" id="supplierId" name="supplierId" value="#{stock.supplierId}" />
				<p:inputText type="hidden" id="stockId" name="stockId" value="#{stock.stockId}" />

				<h:panelGrid columns="2" >
					<p:panel header="#{stock.stockId!=null?'Edit Stock':'New Stock'}" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px"
							 filter="true" filterMatchMode="startsWith">
								<p:ajax listener="#{stock.getStockUpdateFromDB()}" update=":supplierForm" />
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>
							<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>

							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>  
							</p:inputText>
							<p:column />
							
							<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
							<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>
							</p:inputText>
						</h:panelGrid>
						
						<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

						<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
							closable="false" resizable="false" showHeader="false">
							<table>
								<tr>
									<td><h:outputText value="Please wait ..." /></td>
								</tr>
								<tr>
									<td><p:graphicImage name="/images/ajaxloadingbar.gif" />
									</td>
								</tr>
							</table>
						</p:dialog>

						<p:spacer width="10" />

						<p:fieldset legend="Supplier Details" style="width:90%">
							<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
								style="align:center">
								<p:outputLabel for="supplier" value="Supplier : " />
								
								<p:selectOneMenu id="supplier" value="#{stock.supplierId}" requiredMessage="Supplier is mandatory " required="true" style="width:205px" filter="true" filterMatchMode="startsWith">
									<f:selectItem itemLabel="Select Supplier" itemValue="" noSelectionOption="true" />
                					<f:selectItems value="#{stock.suppliers}" />
								</p:selectOneMenu>

								<p:column />

								<p:outputLabel for="mobile" value="Driver Mobile : " />
								<p:inputText id="mobile" label="Mobile" required="true"
									value="#{stock.driverMobile}" requiredMessage="Mobile is mandatory" maxlength="10">
									<f:validateLength minimum="10" maximum="10" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="vehicle" value="Vehicle Number : " />
								<p:inputText id="vehicle" label="Vehicle" required="true" value="#{stock.vehicleRegNum}" requiredMessage="Vehicle Registration number is mandatory"  maxlength="10">
									<f:validateLength minimum="10" maximum="10" />
								</p:inputText>
								<p:column/>
							</h:panelGrid>
						</p:fieldset>
						<br/>
						<p:spacer width="10"/>
						<p:outputLabel for="remarks" value="Remarks : " />
						<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" >
						</p:inputText>

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right">
									<p:commandButton icon="ui-icon-check"
										value="Save" validateClient="true"
										action="#{stock.save()}">
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
										
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>