<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="empForm">

				<p:inputText type="hidden" id="roleId" name="roleId" value="#{employee.roleId}"/>
				<p:inputText type="hidden" id="empId" name="empId" value="#{employee.empId}"/>
				<p:inputText type="hidden" id="active" name="active" value="#{employee.active}"/>
				
				<h:panelGrid columns="2">
					<p:panel header="#{employee.action} Employee" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="firstName" value="First Name : " />
							<p:inputText id="firstName" label="First Name"
								value="#{employee.firstName}" required="true"
								requiredMessage="First name is mandatory ">
								<f:validateLength minimum="5" maximum="50" />
							</p:inputText>
							<p:column />

							<p:outputLabel for="lastName" value="Last Name : " />
							<p:inputText id="lastName" label="Last Name" required="true"
								value="#{employee.lastName}"
								requiredMessage="Last name is mandatory ">
								<f:validateLength minimum="5" maximum="50" />
							</p:inputText>
							<p:column />

							<p:outputLabel for="email" value="Email : " />
							<p:inputText id="email" label="Email" required="true"
								value="#{employee.email}" requiredMessage="Email is mandatory "
								validatorMessage="Invalid email id">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
							<p:column />

							<p:outputLabel for="mobile" value="Mobile : " />
							<p:inputText id="mobile" value="#{employee.mobile}"
								maxlength="10" label="Mobile" required="true"
								requiredMessage="Mobile is mandatory "
								validatorMessage="Invalid mobile number">
								<f:validateRegex pattern="^[789]\d{9}$" />
							</p:inputText>
							<p:column />

							<p:outputLabel for="gender"
								value="Gender	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:" />
							<p:selectOneRadio id="gender" value="#{employee.gender}"
								required="true" requiredMessage="Gender mandatory ">
								<f:selectItem itemLabel="Male" itemValue="M" />
								<f:selectItem itemLabel="Female" itemValue="F" />
							</p:selectOneRadio>
							<p:column />

							<p:outputLabel for="type"
								value="Employee Type	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:" />
							<p:selectOneRadio id="type" value="#{employee.type}"
								label="empType" required="true"
								requiredMessage="Employee Type is mandatory ">
								<f:selectItem itemLabel="Permanent" itemValue="P" />
								<f:selectItem itemLabel="Temporary" itemValue="T" />
							</p:selectOneRadio>
							<p:column />

							<p:outputLabel for="joinDate" value="Join Date:" />
							<p:calendar id="joinDate" label="joinDate"
								value="#{employee.joinDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" required="true" navigator="true" mode="popup" yearRange="1970:2000"
								requiredMessage="Join date is mandatory " />
							<p:column />

							<p:outputLabel for="roleName" value="Role:" />
							<p:inputText id="roleName" label="Role"
								value="#{employee.roleName}" required="false" immediate="true"
								requiredMessage="Role is mandatory " />
							<p:commandButton type="button" value="Select Role"
								onclick="PF('dlg').show();" />

							<p:column />
							<p:commandButton icon="ui-icon-check" value="Save" ajax="true"
								validateClient="true" style="margin-right:10px"
								action="#{employee.save()}" oncomplete="handleSaveRequest(xhr, status, args)">
								<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>
			</h:form>

				<p:dialog header="Role Search" widgetVar="dlg" resizable="false"
					width="640" height="340" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">
					
					<h:form id="roleForm">
					<input type="hidden" id="ck" name="ck" value="#{ck}" />
					<p:dataTable id="eventsDT" var="role" value="#{role.roles}"
						selectionMode="single" 
						rowKey="#{role.roleId}" widgetVar="myTable">
						<f:facet name="header">Select Role</f:facet>

						<p:ajax event="rowSelect" listener="#{employee.onRoleSelect}"
							oncomplete="PF('dlg').hide();" update=":empForm:roleName :empForm:roleId" />

						<p:column headerText="Role ID">
							<h:outputText value="#{role.roleId}" />
						</p:column>
						<p:column headerText="Role Name">
							<h:outputText value="#{role.roleName}" />
						</p:column>
						<p:column headerText="Description">
							<h:outputText value="#{role.description}" />
						</p:column>
					</p:dataTable>
					</h:form>
				</p:dialog>
		</ui:define>
	</ui:composition>

</h:body>

</html>