<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<script type="text/javascript" src="#{request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="empListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:panel header="Employee Search" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="4" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="colName" value="Select search field: " />
							<p:selectOneMenu id="colName" value="#{searchView.colName}" style="width:200px">
					            <f:selectItem itemLabel="Select One" itemValue="" />
					            <f:selectItem itemLabel="FIRST NAME" itemValue="fName" />
					            <f:selectItem itemLabel="LAST NAME" itemValue="lName" />
					            <f:selectItem itemLabel="EMAIL" itemValue="email" />
					            <f:selectItem itemLabel="MOBILE" itemValue="mobile" />
					        </p:selectOneMenu>
							<p:inputText id="searchCriteria" value="#{searchView.searchCriteria}"/>
							<p:commandButton icon="ui-icon-check" value="Search" ajax="true" update=":empListForm:empListGrid"
								validateClient="false" style="margin-right:10px"
								action="#{searchView.submitEmpSearch()}" />
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:dataTable id="empListGrid" var="emp" value="#{searchView.emps}"
					widgetVar="myTable" rows="50" 
					 style="width:1600px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Employees</f:facet>

					<p:column headerText="ID" sortBy="#{emp.empId}" width="40">
						<h:outputText value="#{emp.empId}" />
					</p:column>
					<p:column headerText="First Name" filterBy="#{emp.firstName}">
						<h:outputText value="#{emp.firstName}" title="#{emp.firstName}" />
					</p:column>
					<p:column headerText="Last Name" width="90">
						<h:outputText value="#{emp.lastName}" />
					</p:column>
					<p:column headerText="Email" filterBy="#{emp.email}">
						<h:outputText value="#{emp.email}" title="#{emp.email}" />
					</p:column>
					<p:column headerText="Mobile" filterBy="#{emp.mobile}">
						<h:outputText value="#{emp.mobile}" title="#{emp.mobile}" />
					</p:column>
					<p:column headerText="Gender" rendered="false">
						<h:outputText value="#{emp.gender.equals('M')?'Male':'Female'}" /> 
					</p:column>
					<p:column headerText="Type" width="90" rendered="false">
						<h:outputText value="#{emp.type.equals('T')?'Temporary':'Permanent'}" />
					</p:column>
					<p:column headerText="Join Date" width="100">
						<h:outputText value="#{emp.joinDate}" />
					</p:column>
					<p:column headerText="Last Date" width="100" rendered="false">
						<h:outputText value="#{emp.lastDate}" />
					</p:column>
					<p:column headerText="Role">
						<h:outputText value="#{emp.roleName}" />
					</p:column>
					<p:column headerText="User Name" filterBy="#{emp.userName}">
						<h:outputText value="#{emp.userName}" />
					</p:column>
					<p:column headerText="Action" width="350">
						<p:commandButton action="#{employee.onEmployeeSelect}" value="EDIT" process="@this" immediate="true">
							<f:setPropertyActionListener target="#{employee.empId}" value="#{emp.empId}" />
						</p:commandButton>
						
						<p:commandButton action="#{employee.updateUserActiveStatus}" value="#{(emp.active == null || ('A').equals(emp.active))?'Deactivate':'Activate'}" process="@this" update=":empListForm:empListGrid">
							<f:setPropertyActionListener target="#{employee.empId}" value="#{emp.empId}" />
							<f:setPropertyActionListener target="#{employee.active}" value="#{emp.active}" />
						</p:commandButton>
						
						<p:commandButton action="#{UserView.showUserDialog()}" value="Create Login" process="@this" immediate="true" rendered="#{empty emp.userName}">
							<f:setPropertyActionListener target="#{UserView.empId}" value="#{emp.empId}" />
							<p:ajax event="dialogReturn" listener="#{searchView.submitEmpSearch()}" update=":empListForm:empListGrid"/>
						</p:commandButton>
						
						<p:commandButton action="#{UserView.showPasswordResetDialog()}" value="Change Password" process="@this" immediate="true" rendered="#{not empty emp.userName}">
							<f:setPropertyActionListener target="#{UserView.empId}" value="#{emp.empId}" />
						</p:commandButton>
					</p:column>
					<f:facet name="footer"> In total there are #{searchView.emps.size()} </f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>