<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="itemListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:dataTable id="itemsListGrid" var="i" value="#{item.items}"
					widgetVar="myTable" rows="50" 
					 style="width:1450px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Items</f:facet>

					<p:column headerText="ID" sortBy="#{i.itemId}">
						<h:outputText value="#{i.itemId}" />
					</p:column>
					<p:column headerText="ITEM NAME" filterBy="#{i.name}">
						<h:outputText value="#{i.name}" />
					</p:column>
					<p:column headerText="UNIT">
						<h:outputText value="#{i.unit}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton action="#{item.onItemSelect}" value="EDIT" process="@this" immediate="true">
							<f:setPropertyActionListener target="#{item.itemId}" value="#{i.itemId}" />
						</p:commandButton>
					</p:column>
					<f:facet name="footer"> In total there are #{item.items.size()} items</f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>