<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
			<h:form id="itemForm">

				<p:inputText type="hidden" id="ck" name="ck" value="#{ck}" />
				<p:inputText type="hidden" id="itemId" name="itemId" value="#{item.itemId}" />

				<h:panelGrid columns="2">
					<p:panel header="#{item.action} Item" style="width:650px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="2" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="name" value="Name : " />
							<p:inputText id="name" label="Item"
								value="#{item.name}" required="true"
								requiredMessage="Item is mandatory " style="width:200px">
								<f:validateLength minimum="5" maximum="50" />
							</p:inputText>

							<p:outputLabel for="unit" value="Unit : " />
							<p:selectOneMenu id="unit" value="#{item.unit}" style="width:200px" required="true" validatorMessage="Please select unit type">
					            <f:selectItem itemLabel="Select One" itemValue="" />
					            <f:selectItem itemLabel="Quantity" itemValue="Q" />
					            <f:selectItem itemLabel="Weight" itemValue="W" />
					            <f:selectItem itemLabel="Cubic Feet" itemValue="C" />
					            <f:selectItem itemLabel="Quantity + CFT" itemValue="QC" />
					            <f:selectItem itemLabel="Weight + CFT" itemValue="WC" />
					            <f:validateRequired/>
					        </p:selectOneMenu>

							<p:column/>

							<p:commandButton icon="ui-icon-check" value="Save" ajax="true"
								validateClient="true" style="margin-right:10px"
								action="#{item.save()}">
								<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
							</p:commandButton>
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>