<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

	</ui:composition>

</h:body>

</html>