<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
</h:head>
<h:body>
<h:form>
	<p:remoteCommand async="false" action="#{UserView.clearSession()}" autoRun="true"/>
</h:form>

	<h:form>
		<p:spacer height="100" />


		<table width="100%" cellpadding="0" cellspacing="0" border="0"
			align="center">
			<tr>
				<td align="center"><h:panelGrid columns="2">
						<p:panel header="Login to the application" style="width:850px">
							<p:messages autoUpdate="true" />
							<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
								style="align:center" title="Please Login">
								<h:outputLabel for="userName" value="User Name : *"
									style="font-weight:bold" />
								<p:inputText id="userName" value="#{UserView.userName}"
									label="User Name" required="true"
									title="Please enter the user id " />
								<p:message for="userName" />

								<h:outputLabel for="password" value="Password : *"
									style="font-weight:bold" />
								<p:password id="password" value="#{UserView.password}"
									label="Password" required="true" />
								<p:message for="password" />

								<p:column />
								<p:commandButton icon="ui-icon-check" value="Login" ajax="true"
									validateClient="true" style="margin-right:10px"
									action="#{UserView.authenticate()}" />
							</h:panelGrid>
						</p:panel>
					</h:panelGrid></td>
			</tr>
		</table>

	</h:form>
</h:body>
</html>