<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="#{request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

<form id="mainForm" name="mainForm">
	<input type="hidden" id="ck" name="ck" value="#{ck}"/>
</form>

<h:form>
    <p:growl id="messages"/>
    <p:menubar model="#{MENUS.model}">
    </p:menubar>
    <table align="center">
    	<tr>
        	<td align="center">
				<h:panelGrid columns="3" class="ui-noborder">
					<p:outputPanel style="font-weight: bold;" rendered="#{USER_DATA.roleId == 2}">#{STORE.storeName}</p:outputPanel>
				</h:panelGrid>
			</td>
		</tr>
	</table>
</h:form>
</h:body>
</html>