<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<script type="text/javascript">
		if (parent) {
			parent.countDownInit();
		}
	</script>
</h:head>

<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<p:panel header="Change Password " style="width:620px;align:center;">
				<p:messages autoUpdate="true" />
				
				<h:panelGrid columns="2" id="matchGrid" cellpadding="5"
					style="align:center">
					<p:spacer height="10"></p:spacer>
					<p:column colspan="2"></p:column>

					<p:outputLabel for="newPassword" value="New Password : " />
					<p:password id="newPassword" value="#{UserView.password}"
						match="confPassword" label="Password" required="true"
						autocomplete="false"
						requiredMessage="New Password is a mandatory field"
						feedback="true">
						<f:validateLength minimum="5" maximum="15" />
					</p:password>

					<p:outputLabel for="confPassword" value="Confirm Password : " />
					<p:password id="confPassword" value="#{UserView.confirmPassword}"
						label="Password" required="true" autocomplete="false"
						requiredMessage="Confirm password is a mandatory field">
						<f:validateLength minimum="5" maximum="15" />
					</p:password>

					<p:commandButton icon="ui-icon-check" value="Change Password" ajax="true" process="@form"
						validateClient="true" style="margin-right:10px"
						action="#{UserView.resetPassword()}">
					</p:commandButton>
				</h:panelGrid>
			
			</p:panel>
		</h:panelGrid>
		</h:form>

</h:body>
</html>