<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
		
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="permissionListForm">
				<p:growl id="growl" showDetail="true" sticky="true" />  
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:panel header="Role Permissions"
						style="width:600px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="4" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="roleId" value="Select role : " />
							<p:selectOneMenu id="roleId" value="#{permissionView.roleId}" required="true" validatorMessage="Please select a Role "
								style="width:200px">
								<f:selectItem itemLabel="Select Role" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{permissionView.rolesMap}" />
							</p:selectOneMenu>

							<p:commandButton icon="ui-icon-check" value="Get Permissions"
								ajax="true" validateClient="false" style="margin-right:10px"
								action="#{permissionView.fetchRolePermissions}"
								update=":permissionListForm:menusPermGrid" />

						</h:panelGrid>
					</p:panel>
				</h:panelGrid>



				<table align="center">
						<tr>
							<td>
							<h:panelGrid>
								<p:dataTable id="menusPermGrid" var="menu" value="#{permissionView.permissions}" style="width:610px;align:center;" scrollable="true" scrollHeight="500">
									<f:facet name="header">Role Permission</f:facet>
			
									<p:column headerText="Menu ID" sortBy="#{menu.menuId}" rendered="false">
										<h:outputText value="#{menu.menuId}" />
									</p:column>
									<p:column headerText="MENU NAME" filterBy="#{menu.menuName}">
										<h:outputText value="#{menu.menuName}" />
									</p:column>
			
									<p:column headerText="Permission" style="align:center">
										<p:selectBooleanCheckbox value="#{menu.permitted}"/>
									</p:column>
			
									<f:facet name="footer"> In total there are #{permissionView.permissions.size()} </f:facet>
								</p:dataTable>
							
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td align="center">
							<p:commandButton action="#{permissionView.submitPermissions}" value="Update" update=":permissionListForm:menusPermGrid :permissionListForm:growl" style="align:center;">
								<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
							</p:commandButton>
						</td>
					</tr>
				</table>

			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>