<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">
     
    <h:head>
        <title>Select Role</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    <SCRIPT type="text/javascript">
    $(document).ready(function() {
    	
    	var myTable = $('#myTable');
	    var f = myTable.onRowClick; // initial callback
	    myTable.onRowClick = function(event, rowElement) {
	    	alert ('select');
		    f.apply(myTable, [event, rowElement]);
		    var selectedRows = myTable.selection; // Array of selected row keys
		    alert(selectedRows); // Your callback
	    };
    });
    </SCRIPT>
     
    <h:body>
        <h:form>
			<input type="hidden" id="ck" name="ck" value="#{ck}"/>
			<p:dataTable id="eventsDT" var="role" value="#{role.roles}" selectionMode="single" selection="#{role.selectedRole}"
				rowKey="#{role.roleId}" widgetVar="myTable">
				<f:facet name="header">Select Role</f:facet>
        		
        		<p:ajax event="rowSelect" listener="#{employee.onRoleSelect}"
							oncomplete="PF('dlg').hide();" process="@form" update="@form" />

				<p:column headerText="Role ID">
					<h:outputText value="#{role.roleId}" />
				</p:column>
				<p:column headerText="Role Name">
					<h:outputText value="#{role.roleName}" />
				</p:column>
				<p:column headerText="Description">
					<h:outputText value="#{role.description}" />
				</p:column>
			</p:dataTable>
		</h:form>
    </h:body>
     
</html>