<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
</h:head>
<h:body>
	
	<p:messages autoUpdate="true" />
	
	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
		<p:inputText value="#{simpleView.name}"/>
		<p:selectOneMenu id="dropDownID" value="#{simpleView.gp}" style="width:250px">
			<f:selectItem itemLabel="Please select a GP" itemValue=""></f:selectItem>
			<f:selectItems value="#{simpleView.gps}"></f:selectItems>
		</p:selectOneMenu>
		
		<p:inputText value="#{simpleView.name}"/>
		<p:selectOneMenu id="dropDownID2" value="#{simpleView.gp}" style="width:250px" valueChangeListener="#{simpleView.validate}" validatorMessage="This is a mandatory field">
			<f:selectItem itemLabel="Please select a GP for further testing" itemValue=""></f:selectItem>
			<f:selectItems value="#{simpleView.gps}"></f:selectItems>
		</p:selectOneMenu>	
	</h:panelGrid>
</h:body>
</html>
