<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
			<h:form id="supplierForm">

				<p:inputText type="hidden" id="ck" name="ck" value="#{ck}" />
				<p:inputText type="hidden" id="supplierId" name="supplierId" value="#{stock.supplierId}" />

				<h:panelGrid columns="2">
					<p:spacer width="460" />
					<p:panel header="New Stock" style="width:850px;align:center;">
						<p:messages autoUpdate="false" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="itemName" value="Item : " />
							<p:autoComplete id="itemName" dropdown="true" value="#{stock.itemName}" completeMethod="#{stock.completeItem}"  required="true"
								requiredMessage="Item is mandatory " size="30" var="I" itemLabel="#{I}" itemValue="#{I}" converter="itemConverter">
							</p:autoComplete>
							<p:column />
							
							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="30">
								<f:validateLength minimum="1" maximum="5" />
							</p:inputText>
							<p:column />
						</h:panelGrid>

						<p:spacer width="10" />

						<p:fieldset legend="Supplier Details" style="width:90%">
							<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
								style="align:center">
								<p:outputLabel for="supplier" value="Supplier : " />
								
								<p:inputText id="supplier" value="#{stock.supplierId}" required="true" requiredMessage="Supplier is mandatory">
									<f:validateLength minimum="3" maximum="50" />
								</p:inputText>

								<p:column />

								<p:outputLabel for="mobile" value="Driver Mobile : " />
								<p:inputText id="mobile" label="Mobile" required="true"
									value="#{stock.driverMobile}" requiredMessage="Mobile is mandatory">
									<f:validateLength minimum="10" maximum="10" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="vehicle" value="Vehicle Number : " />
								<p:inputText id="vehicle" label="Vehicle" required="true"
									value="#{stock.vehicleRegNum}" requiredMessage="Vehicle Registration number is mandatory">
									<f:validateLength minimum="10" maximum="10" />
								</p:inputText>
								<p:column />
							</h:panelGrid>
						</p:fieldset>
						<br/>
						<p:spacer width="10"/>
						<p:outputLabel for="remarks" value="Remarks : " />
						<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" >
						</p:inputText>

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="false" validateClient="false"
										action="#{stock.save()}" /></td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>