<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
			<h:form id="storeForm">

				<p:inputText type="hidden" id="storeId" name="storeId" value="#{store.storeId}" />
				<p:inputText type="hidden" id="empId" name="empId" value="#{store.empId}" />

				<h:panelGrid columns="2">
					<p:panel header="#{store.action} Store" style="width:920px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="name" value="Store Name : " />
							<p:inputText id="name" label="Store Name"
								value="#{store.storeName}" required="true"
								requiredMessage="Store name is mandatory " size="30">
								<f:validateLength minimum="3" maximum="50" />
							</p:inputText>
							<p:column />
						</h:panelGrid>

						<p:spacer width="10" />

						<p:fieldset legend="Store Address" style="width:95%">
							<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
								style="align:center">
								<p:outputLabel for="address" value="Address : " />
								<p:inputText id="address" label="Address" required="true"
									value="#{store.address}" size="50"
									requiredMessage="Address is mandatory ">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="City" value="City : " />
								<p:inputText id="City" label="City" required="true"
									value="#{store.city}" requiredMessage="City is mandatory">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="State" value="State : " />
								<p:inputText id="State" label="State" required="true"
									value="#{store.state}" requiredMessage="State is mandatory">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="pincode" value="Pin Code : " />
								<p:inputText id="pincode" value="#{store.pincode}"
									maxlength="6" label="pincode" required="true"
									requiredMessage="Pin Code is mandatory "
									validatorMessage="Invalid Pin code">
									<f:validateRegex pattern="^(0|[1-9][0-9]*)$" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="startDate" value="Start Date:" />
								<p:calendar id="startDate" label="startDate"
								value="#{store.startDate}" showOn="button"  mask="true"
								pattern="dd/MM/yyyy" required="true" navigator="true" mode="popup" requiredMessage="Start date is mandatory " />
								<p:column />
								
								
								<p:outputLabel for="empName" value="Manager:" />
								<p:inputText id="empName" label="Manager"
								value="#{store.empName}" required="true" immediate="true"
								requiredMessage="Assigning a store manager is mandatory " onfocus="PF('dlg').show();" />
								<p:commandButton type="button" value="Select Manager" onclick="PF('dlg').show();" style="width:150px" />

							<p:column />

							</h:panelGrid>
						</p:fieldset>

						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="true" validateClient="true"
										action="#{store.save()}">
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
								</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
			
			<p:dialog header="Employee Search" widgetVar="dlg" resizable="false"
					width="840" height="340" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">

					<h:form id="empForm">
					<p:dataTable id="eventsDT" var="emp" value="#{store.emps}"
						selectionMode="single" 
						rowKey="#{emp.empId}" widgetVar="myTable">
						<f:facet name="header">Select Employee</f:facet>

						<p:ajax event="rowSelect" listener="#{store.onEmployeeSelect}"
							oncomplete="PF('dlg').hide();" update=":storeForm:empName :storeForm:empId" />

						<p:column headerText="ID">
							<h:outputText value="#{emp.empId}" />
						</p:column>
						<p:column headerText="Name" filterBy="#{emp.firstName}">
							<h:outputText value="#{emp.firstName} #{emp.lastName}" />
						</p:column>
						<p:column headerText="Mobile">
							<h:outputText value="#{emp.mobile}" />
						</p:column>
						<p:column headerText="Email" filterBy="#{emp.email}">
							<h:outputText value="#{emp.email}" />
						</p:column>
					</p:dataTable>
					</h:form>
				</p:dialog>
		</ui:define>
	</ui:composition>

</h:body>

</html>