<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="supplierListForm">

				<h:panelGrid columns="2">
					<p:dataTable id="storeListGrid" var="st" value="#{store.stores}"
					widgetVar="myTable" rows="50" 
					 style="width:1450px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Store</f:facet>

					<p:column headerText="ID" sortBy="#{st.storeId}">
						<h:outputText value="#{st.storeId}" />
					</p:column>
					<p:column headerText="STORE NAME" filterBy="#{st.storeName}">
						<h:outputText value="#{st.storeName}" />
					</p:column>
					<p:column headerText="STORE MANAGER">
						<h:outputText value="#{st.empName}" />
					</p:column>
					<p:column headerText="ADDRESS">
						<h:outputText value="#{st.address}" />
					</p:column>
					<p:column headerText="CITY" filterBy="#{st.city}">
						<h:outputText value="#{st.city}" />
					</p:column>
					<p:column headerText="PINCODE">
						<h:outputText value="#{st.pincode}" />
					</p:column>
					<p:column headerText="STATE">
						<h:outputText value="#{st.state}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton action="#{store.onStoreSelect}" value="EDIT" process="@this" immediate="true">
							<f:setPropertyActionListener target="#{store.storeId}" value="#{st.storeId}" />
						</p:commandButton>
					</p:column>
					<f:facet name="footer"> In total there are #{store.stores.size()} stores </f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>