<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">

			<h:form id="supplierListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:panel header="Supplier Search" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="4" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="colName" value="Select search field: " />
							<p:selectOneMenu id="colName" value="#{searchView.colName}" style="width:200px">
					            <f:selectItem itemLabel="Select One" itemValue="" />
					            <f:selectItem itemLabel="SUPPLIER NAME" itemValue="sSupplierName" />
					            <f:selectItem itemLabel="MOBILE" itemValue="sMobile" />
					            <f:selectItem itemLabel="CITY" itemValue="sCity" />
					            <f:selectItem itemLabel="PINCODE" itemValue="sPinCode" />
					            <f:selectItem itemLabel="STATE" itemValue="sState" />
					        </p:selectOneMenu>
							<p:inputText id="searchCriteria" value="#{searchView.searchCriteria}"/>
							<p:commandButton icon="ui-icon-check" value="Search" ajax="true" update=":supplierListForm:supplierListGrid"
								validateClient="false" style="margin-right:10px"
								action="#{searchView.submitSupplierSearch()}" />
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:dataTable id="supplierListGrid" var="supp" value="#{searchView.suppliers}"
					widgetVar="myTable" rows="50" 
					 style="width:1450px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Suppliers</f:facet>

					<p:column headerText="ID" sortBy="#{supp.supplierId}">
						<h:outputText value="#{supp.supplierId}" />
					</p:column>
					<p:column headerText="SUPPLIER NAME" filterBy="#{supp.supplierName}">
						<h:outputText value="#{supp.supplierName}" />
					</p:column>
					<p:column headerText="ADDRESS">
						<h:outputText value="#{supp.address}" />
					</p:column>
					<p:column headerText="MOBILE" filterBy="#{supp.mobile}">
						<h:outputText value="#{supp.mobile}" />
					</p:column>
					<p:column headerText="CITY" filterBy="#{supp.city}">
						<h:outputText value="#{supp.city}" />
					</p:column>
					<p:column headerText="PINCODE">
						<h:outputText value="#{supp.pincode}" />
					</p:column>
					<p:column headerText="STATE">
						<h:outputText value="#{supp.state}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandButton action="#{supplier.onSupplierSelect}" value="EDIT" process="@this" immediate="true">
							<f:setPropertyActionListener target="#{supplier.supplierId}" value="#{supp.supplierId}" />
						</p:commandButton>
					</p:column>
					<f:facet name="footer"> In total there are #{searchView.suppliers.size()} </f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>