<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
			<h:form id="supplierForm">

				<p:inputText type="hidden" id="ck" name="ck" value="#{ck}" />
				<p:inputText type="hidden" id="supplierId" name="supplierId" value="#{supplier.supplierId}" />

				<h:panelGrid columns="2">
					<p:panel header="#{supplier.action} Supplier" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="name" value="Supplier Name : " />
							<p:inputText id="name" label="Supplier Name"
								value="#{supplier.supplierName}" required="true"
								requiredMessage="Supplier name is mandatory " size="30">
								<f:validateLength minimum="3" maximum="50" />
							</p:inputText>
							<p:column />
						</h:panelGrid>

						<p:spacer width="10" />

						<p:fieldset legend="Supplier Address" style="width:90%">
							<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
								style="align:center">
								<p:outputLabel for="address" value="Address : " />
								<p:inputText id="address" label="Address" required="true"
									value="#{supplier.address}" size="50"
									requiredMessage="Address is mandatory ">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="City" value="City : " />
								<p:inputText id="City" label="City" required="true"
									value="#{supplier.city}" requiredMessage="City is mandatory">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="State" value="State : " />
								<p:inputText id="State" label="State" required="true"
									value="#{supplier.state}" requiredMessage="State is mandatory">
									<f:validateLength minimum="5" maximum="50" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="pincode" value="Pin Code : " />
								<p:inputText id="pincode" value="#{supplier.pincode}"
									maxlength="6" label="pincode" required="true"
									requiredMessage="Pin Code is mandatory "
									validatorMessage="Invalid Pin code">
									<f:validateRegex pattern="^(0|[1-9][0-9]*)$" />
								</p:inputText>
								<p:column />

								<p:outputLabel for="mobile" value="Mobile : " />
								<p:inputText id="mobile" value="#{supplier.mobile}"
									maxlength="10" label="Mobile" required="true"
									requiredMessage="Mobile is mandatory "
									validatorMessage="Invalid mobile number">
									<f:validateRegex pattern="^[789]\d{9}$" />
								</p:inputText>
								<p:column />
							</h:panelGrid>
						</p:fieldset>

						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="false" validateClient="true"
										action="#{supplier.save()}">
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>