<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
</h:head>
<h:body>

<h:form>
<p:tabMenu activeIndex="#{param.i}">
    <p:menuitem value="Motoroids" outcome="/tab" icon="ui-icon-star" url="http://www.motoroids.com">
        <f:param name="i" value="0" />
    </p:menuitem>
    <p:menuitem value="Motorbeam" outcome="/tab" icon="ui-icon-search" url="http://www.motorbeam.com" target="_blank">
        <f:param name="i" value="1" />
    </p:menuitem>
    <p:menuitem value="Documentation" outcome="/tab" icon="ui-icon-document">
        <f:param name="i" value="2" />
    </p:menuitem>
    <p:menuitem value="Support" outcome="/tab" icon="ui-icon-wrench">
        <f:param name="i" value="3" />
    </p:menuitem>
    <p:menuitem value="Social" outcome="/tab" icon="ui-icon-person">
        <f:param name="i" value="4" />
    </p:menuitem>
</p:tabMenu>
</h:form>
</h:body>
</html>