<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<script type="text/javascript" src="#{request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<f:metadata>
    <f:viewAction action="#{searchView.setTransactionListSearch('I')}" />
</f:metadata>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
		
			<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<table>
					<tr>
						<td><h:outputText value="Please wait ..." /></td>
					</tr>
					<tr>
						<td><p:graphicImage name="/images/ajaxloadingbar.gif" />
						</td>
					</tr>
				</table>
			</p:dialog>

			<h:form id="tranListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:panel header="Transaction Search" style="width:1550px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="8" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="storeName" value="Store: " />
							<p:selectOneMenu id="storeName" value="#{searchView.storeId}" style="width:200px" required="true" requiredMessage="Please select a store">
					            <f:selectItem itemLabel="Select One" itemValue="" />
					            <f:selectItems value="#{store.storesMap}" />
					        </p:selectOneMenu>

							<p:outputLabel for="itemId" value="Item: " />
					        <p:selectOneMenu id="itemId" value="#{searchView.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px"
							 filter="true" filterMatchMode="startsWith">
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>

					        <p:outputLabel for="entryDate" value="Date:" />
							<p:calendar id="entryDate" label="tranDate"
								value="#{searchView.entryDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" required="true" navigator="true" mode="popup" 
								requiredMessage="Entry date is mandatory " />
								
							 <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
						        <p:outputLabel for="tranType" value="Transaction Type :" />
						        <p:selectOneRadio id="tranType" value="#{searchView.operation}">
						            <f:selectItem itemLabel="Recevied" itemValue="I" />
						            <f:selectItem itemLabel="Consumed" itemValue="O" />
						        </p:selectOneRadio>
						    </h:panelGrid>

							<p:commandButton icon="ui-icon-check" value="Search" ajax="true" update=":tranListForm:tranListGrid"
								validateClient="true" style="margin-right:10px"
								action="#{searchView.submitTranSearch()}" />
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:dataTable id="tranListGrid" var="trans" value="#{searchView.transList}" 
					widgetVar="myTable" rows="50" 
					 style="width:1600px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Transaction List </f:facet>

							<p:column headerText="Entry ID">
								<h:outputText value="#{trans.stockId}" />
							</p:column>
							
							<p:column headerText="Stock Name">
								<h:outputText value="#{trans.itemName}" />
							</p:column>

							<p:column headerText="Quantity">
								<h:outputText value="#{trans.quantity}" />
							</p:column>
							
							<p:column headerText="Volume">
								<h:outputText value="#{trans.volume}" />
							</p:column>
							
							<p:column headerText="Supplier Name">
								<h:outputText value="#{trans.supplierName}" />
							</p:column>
							
							<p:column headerText="Driver Mobile">
								<h:outputText value="#{trans.driverMobile}" />
							</p:column>
							
							<p:column headerText="Vehicle Reg Num">
								<h:outputText value="#{trans.vehicleRegNum}" />
							</p:column>
							
							<p:column headerText="Remarks">
								<h:outputText value="#{trans.remarks}" />
							</p:column>
							
							<p:column headerText="Action" width="350">
								<p:commandButton action="#{stock.editStock}" value="EDIT" process="@this" immediate="true"  oncomplete="handleEditRequest(xhr, status, args)" update=":stockEditForm :stockDisperseForm ">
									<f:setPropertyActionListener target="#{stock.stockId}" value="#{trans.stockId}" />
								</p:commandButton>
							</p:column>

					<f:facet name="footer"> In total there are #{trans.size()} </f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>

		<p:panel id="editDispersePanels">
		<p:dialog header="Stock Edit" widgetVar="stockEditDlg" resizable="false"
					width="800" height="580" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">
					
					<h:form id="stockEditForm">

					<p:inputText type="hidden" id="stockId" name="stockId" value="#{stock.stockId}" />
	
					<h:panelGrid columns="2" >
						<p:panel style="width:650px;align:center;">
							<p:messages autoUpdate="true" />
							<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
								style="align:center">
								<p:outputLabel for="itemId" value="Item : " />
								<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px"
								 filter="true" filterMatchMode="startsWith">
									<p:ajax listener="#{stock.getStockUpdateFromDB()}" process=":stockEditForm" update=":stockEditForm" />
									<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
	                				<f:selectItems value="#{stock.items}" />
								</p:selectOneMenu>
								<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>
	
								<p:outputLabel for="quantity" value="Quantity : " />
								<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
									<f:validateLength minimum="1" maximum="5" />
									<f:validateLongRange minimum="1"/>
									<pe:keyFilter mask="num"/>  
								</p:inputText>
								<p:column />
								
								<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
								<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
									<f:validateLength minimum="1" maximum="5" />
									<f:validateLongRange minimum="1"/>
									<pe:keyFilter mask="num"/>
								</p:inputText>
							</h:panelGrid>
	
							<p:spacer width="10" />
	
							<p:fieldset legend="Supplier Details" style="width:90%">
								<h:panelGrid columns="3" id="matchGrid" cellpadding="5"
									style="align:center">
									<p:outputLabel for="supplier" value="Supplier : " />
									
									<p:selectOneMenu id="supplier" value="#{stock.supplierId}" requiredMessage="Supplier is mandatory " required="true" style="width:205px" filter="true" filterMatchMode="startsWith">
										<f:selectItem itemLabel="Select Supplier" itemValue="" noSelectionOption="true" />
	                					<f:selectItems value="#{stock.suppliers}" />
									</p:selectOneMenu>
	
									<p:column />
	
									<p:outputLabel for="mobile" value="Driver Mobile : " />
									<p:inputText id="mobile" label="Mobile" required="true"
										value="#{stock.driverMobile}" requiredMessage="Mobile is mandatory" maxlength="10">
										<f:validateLength minimum="10" maximum="10" />
									</p:inputText>
									<p:column />
	
									<p:outputLabel for="vehicle" value="Vehicle Number : " />
									<p:inputText id="vehicle" label="Vehicle" required="true" value="#{stock.vehicleRegNum}" requiredMessage="Vehicle Registration number is mandatory"  maxlength="10">
										<f:validateLength minimum="10" maximum="10" />
									</p:inputText>
									<p:column/>
								</h:panelGrid>
							</p:fieldset>
							<br/>
							<p:spacer width="10"/>
							<p:outputLabel for="remarks" value="Remarks : " />
							<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" >
							</p:inputText>
	
							<br/>
							<p:spacer width="10" />
							<table width="95%">
								<tr>
									<td align="right">
										<p:commandButton icon="ui-icon-check"
											value="Save" validateClient="true"
											action="#{stock.saveEditedStock()}" oncomplete="handleSaveEditComplete(xhr, status, args)">
											<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
										</p:commandButton>
									</td>
											
								</tr>
							</table>
	
						</p:panel>
					</h:panelGrid>
				</h:form>
		</p:dialog>
		
		<p:dialog  header="Stock Disperse Edit" widgetVar="disperseEditDlg" resizable="false"
					width="600" height="300" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">
			<h:form id="stockDisperseForm">

				<p:inputText type="hidden" id="stockId" name="stockId" value="#{stock.stockId}" />

				<h:panelGrid columns="2" >
					<p:panel>
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5" style="align:center">
							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px" 
							 filter="true" filterMatchMode="startsWith">
								<p:ajax listener="#{stock.getStockUpdateFromDB()}" process=":stockDisperseForm" update=":stockDisperseForm"  />
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>
							<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>

							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>  
							</p:inputText>
							<p:column />

							
							<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
							<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>
							</p:inputText>
							<p:column rendered="#{ stock.showVolume }"/>
							
							<p:outputLabel for="remarks" value="Remarks : " />
							<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" >
							</p:inputText>
							<p:column />
						</h:panelGrid>
						
						<p:spacer width="10" />

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="true" validateClient="true"
										action="#{stock.disperseEditSave()}"  oncomplete="handleDisperseEditComplete(xhr, status, args)">
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		</p:panel>
		
		<h:outputScript target="head">
			function handleEditRequest(xhr, status, args) {  
			
				if(args.OPERATION == 'I') {
					PF('stockEditDlg').show();
				}
				else if (args.OPERATION == 'O'){
					PF('disperseEditDlg').show();
				}
			}
			
			function handleSaveEditComplete(xhr, status, args) {		
				if (status == 'success')
					PF('stockEditDlg').hide();
					
					if(PrimeFaces.vb({s:this,a:true,u:'tranListForm:tranListGrid'})){PrimeFaces.ab({s:"tranListForm:j_idt57",u:"tranListForm:tranListGrid"});return false;}else{return false;}
			}
			
			function handleDisperseEditComplete(xhr, status, args) {  
			
				if (status == 'success')
					PF('disperseEditDlg').hide()

				if(PrimeFaces.vb({s:this,a:true,u:'tranListForm:tranListGrid'})){PrimeFaces.ab({s:"tranListForm:j_idt57",u:"tranListForm:tranListGrid"});return false;}else{return false;}
			}
		</h:outputScript>
		
		</ui:define>
	</ui:composition>

</h:body>

</html>