<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
</h:head>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>
		<script type="text/javascript" src="${request.contextPath}/javascript/utils.js"></script>

		<ui:define name="content">
			<h:form id="transferForm">

				<h:panelGrid columns="2" >
					<p:panel header="Stock Transfer" style="width:850px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px" 
							 filter="true" filterMatchMode="startsWith">
								<p:ajax listener="#{stock.getStockUpdateFromDB()}" update=":transferForm"  />
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>
							<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>
						</h:panelGrid>
						<h:panelGrid columns="1" cellpadding="5" style="align:center">
							<p:fieldset legend="Transfer To" style="width:775px;">

							<h:panelGrid columns="2" cellpadding="5" style="align:center">
							<p:outputLabel for="toStoreId" value="Store : " />
							<p:selectOneMenu id="toStoreId" value="#{stock.toStoreId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{stock.storesMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>  
							</p:inputText>
							
							<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
							<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>
							</p:inputText>
							
							<p:outputLabel for="remarks" value="Remarks : " />
							<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" >
							</p:inputText>
							</h:panelGrid>
							
							</p:fieldset>
						</h:panelGrid>
						
						<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

						<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
							closable="false" resizable="false" showHeader="false">
							<table>
								<tr>
									<td><h:outputText value="Please wait ..." /></td>
								</tr>
								<tr>
									<td><p:graphicImage name="/images/ajaxloadingbar.gif" />
									</td>
								</tr>
							</table>
						</p:dialog>

						<p:spacer width="10" />

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="true" validateClient="true"
										action="#{stock.transfer()}" >
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>

</h:body>

</html>