<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<script type="text/javascript" src="#{request.contextPath}/javascript/utils.js">
	</script>
</h:head>
<f:metadata>
    <f:viewAction action="#{searchView.setTransactionListSearch('TS')}" />
</f:metadata>
<h:body>

	<ui:composition template="/template/layout.xhtml">

		<ui:define name="header">
			<ui:include src="/jsf/menubar.xhtml" />
		</ui:define>

		<ui:define name="content">
		
			<p:ajaxStatus onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<table>
					<tr>
						<td><h:outputText value="Please wait ..." /></td>
					</tr>
					<tr>
						<td><p:graphicImage name="/images/ajaxloadingbar.gif" />
						</td>
					</tr>
				</table>
			</p:dialog>

			<h:form id="tranListForm">
				<input type="hidden" id="ck" name="ck" value="#{ck}" />

				<h:panelGrid columns="2">
					<p:panel header="Transfer Search" style="width:1575x;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="8" id="matchGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="storeName" value="Store: " />
							<p:selectOneMenu id="storeName" value="#{searchView.storeId}" style="width:200px" required="true" requiredMessage="Please select a store">
					            <f:selectItem itemLabel="Select One" itemValue="" />
					            <f:selectItems value="#{store.storesMap}" />
					        </p:selectOneMenu>

							<p:outputLabel for="itemId" value="Item: " />
					        <p:selectOneMenu id="itemId" value="#{searchView.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px"
							 filter="true" filterMatchMode="startsWith">
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>

					        <p:outputLabel for="entryDate" value="Date:" />
							<p:calendar id="entryDate" label="tranDate"
								value="#{searchView.entryDate}" showOn="button" mask="true"
								pattern="dd/MM/yyyy" required="true" navigator="true" mode="popup" 
								requiredMessage="Entry date is mandatory " />
								
							 <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
						        <p:outputLabel for="tranType" value="Transaction Type :" />
						        <p:selectOneRadio id="tranType" value="#{searchView.operation}" required="true" requiredMessage="Please select Transaction type">
						            <f:selectItem itemLabel="Transfer Sent" itemValue="TS" />
						            <f:selectItem itemLabel="Transfer Received" itemValue="TR" />
						        </p:selectOneRadio>
						    </h:panelGrid>

							<p:commandButton icon="ui-icon-check" value="Search" ajax="true" update=":tranListForm:tranListGrid"
								validateClient="true" style="margin-right:10px"
								action="#{searchView.submitTranSearch()}" />
						</h:panelGrid>
					</p:panel>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:dataTable id="tranListGrid" var="trans" value="#{searchView.transList}" 
					widgetVar="myTable" rows="50" 
					 style="width:1600px;align:center;" scrollable="true" scrollHeight="400" resizableColumns="true" >
					<f:facet name="header">Transfer List </f:facet>

							<p:column headerText="Entry ID">
								<h:outputText value="#{trans.stockId}" />
							</p:column>
							
							<p:column headerText="Stock Name">
								<h:outputText value="#{trans.itemName}" />
							</p:column>

							<p:column headerText="Quantity">
								<h:outputText value="#{trans.quantity}" />
							</p:column>
							
							<p:column headerText="Volume">
								<h:outputText value="#{trans.volume}" />
							</p:column>
							
							<p:column headerText="To Store">
								<h:outputText value="#{trans.toStoreName}" />
							</p:column>

							<p:column headerText="From Store">
								<h:outputText value="#{trans.fromStoreName}" />
							</p:column>

							<p:column headerText="Vehicle Reg Num">
								<h:outputText value="#{trans.vehicleRegNum}" />
							</p:column>
							
							<p:column headerText="Remarks">
								<h:outputText value="#{trans.remarks}" />
							</p:column>
							
							<p:column headerText="Action" width="350">
								<p:commandButton action="#{stock.editStock}" value="EDIT" process="@this" immediate="true"  oncomplete="handleEditRequest(xhr, status, args)" update=":transferEditForm :transferReceiveForm ">
									<f:setPropertyActionListener target="#{stock.stockId}" value="#{trans.stockId}" />
								</p:commandButton>
							</p:column>

					<f:facet name="footer"> In total there are #{trans.size()} </f:facet> 
				</p:dataTable>
			</h:panelGrid>
		</h:form>

		<p:panel id="editDispersePanels">
		
		<p:dialog header="Stock Transfer Edit" widgetVar="transferEditDlg" resizable="false"
					width="800" height="400" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">
			<h:form id="transferEditForm">
				<p:inputText type="hidden" id="stockId" name="stockId" value="#{stock.stockId}" />

				<h:panelGrid columns="2" >
					<p:panel header="Stock Transfer" style="width:700px;align:center;">
						<p:messages autoUpdate="true" />
						<h:panelGrid columns="3" id="supplierGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px" 
							 filter="true" filterMatchMode="startsWith">
								<p:ajax listener="#{stock.getStockUpdateFromDB()}" process=":transferEditForm" update=":transferEditForm"  />
								<f:selectItem itemLabel="Select Item" itemValue="" noSelectionOption="true" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>
							<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>
						</h:panelGrid>
						<h:panelGrid columns="1" cellpadding="5" style="align:center">
							<p:fieldset legend="Transfer To" style="width:625px;">

							<h:panelGrid columns="2" cellpadding="5" style="align:center">
							<p:outputLabel for="toStoreId" value="Store : " />
							<p:selectOneMenu id="toStoreId" value="#{stock.toStoreId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{stock.storesMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>  
							</p:inputText>
							
							<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
							<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>
							</p:inputText>
							
							<p:outputLabel for="remarks" value="Remarks : " />
							<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" size="70">
							</p:inputText>
							</h:panelGrid>
							
							</p:fieldset>
						</h:panelGrid>
						
						<p:spacer width="10" />

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="true" validateClient="true"
										action="#{stock.disperseTransferEditSave()}"  
										oncomplete="handleTransSaveEditComplete(xhr, status, args)">
										<p:confirm header="Confirmation" message="Do you want to save ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
		<p:dialog header="Stock Transfer Receive Edit" widgetVar="transferReceiveEditDlg" resizable="false"
					width="800" height="400" modal="true" closable="true" showEffect="explode" hideEffect="explode"
					closeOnEscape="true">
			<h:form id="transferReceiveForm">
				<p:inputText type="hidden" id="stockId" name="stockId" value="#{stock.stockId}" />

				<h:panelGrid columns="2" >
					<p:panel header="Transfer Received Stock " style="width:700px;align:center;">
						<p:messages autoUpdate="true"/>
						<h:panelGrid columns="3" id="transferReceiveGrid" cellpadding="5"
							style="align:center">
							<p:outputLabel for="itemId" value="Item : " />
							<p:selectOneMenu id="itemId" value="#{stock.itemId}" requiredMessage="Item is mandatory "  required="true" style="width:205px" 
							 filter="true" filterMatchMode="startsWith">
								<p:ajax listener="#{stock.getStockUpdateFromDB()}" process=":transferReceiveForm" update=":transferReceiveForm"  />
								<f:selectItem itemLabel="Select Item" itemValue="" />
                				<f:selectItems value="#{stock.items}" />
							</p:selectOneMenu>
							<p:outputLabel value="#{stock.stockUpdate}"  id="stockUpdate"/>
						</h:panelGrid>
						<h:panelGrid columns="1" cellpadding="5" style="align:center">
							<p:fieldset legend="Received From" style="width:625px;">

							<h:panelGrid columns="2" cellpadding="5" style="align:center">
							<p:outputLabel for="fromStoreId" value="Store : " />
							<p:selectOneMenu id="fromStoreId" value="#{stock.fromStoreId}"
								style="width:205px" filter="true" filterMatchMode="startsWith"
								required="true">
								<f:selectItem itemLabel="Select Store" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{stock.allStoresMap}" />
							</p:selectOneMenu>

							<p:outputLabel for="quantity" value="Quantity : " />
							<p:inputText id="quantity" value="#{stock.quantity}" required="true" requiredMessage="Item quantity is mandatory " size="10">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>  
							</p:inputText>
							
							<p:outputLabel value="Volume" id="volLabel" for="volume" rendered="#{ stock.showVolume }"/>
							<p:inputText id="volume" value="#{stock.volume}" required="true" requiredMessage="Item volume is mandatory " size="10" rendered="#{ stock.showVolume }">
								<f:validateLength minimum="1" maximum="5" />
								<f:validateLongRange minimum="1"/>
								<pe:keyFilter mask="num"/>
							</p:inputText>
							
							<p:outputLabel for="remarks" value="Remarks : " />
							<p:inputText id="remarks" label="Remarks" value="#{stock.remarks}" size="70">
							</p:inputText>
							</h:panelGrid>
							
							</p:fieldset>
						</h:panelGrid>

						<p:spacer width="10" />

						<br/>
						<p:spacer width="10" />
						<table width="95%">
							<tr>
								<td align="right"><p:commandButton icon="ui-icon-check"
										value="Save" ajax="true" validateClient="true"
										action="#{stock.saveTransferEditedStock()}" 
										oncomplete="handleTransDisperseEditComplete(xhr, status, args)"  >
										<p:confirm header="Confirmation" message="Do you want to save the edited transfer ..?" icon="ui-icon-alert" />
									</p:commandButton>
								</td>
							</tr>
						</table>

					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		</p:panel>
		
		<h:outputScript target="head">
			function handleEditRequest(xhr, status, args) {  
			
				if(args.OPERATION == 'I') {
					PF('stockEditDlg').show();
				}
				else if (args.OPERATION == 'O'){
					PF('disperseEditDlg').show();
				}
				else if (args.OPERATION == 'OT') {
					PF('transferEditDlg').show();
				}
				else if (args.OPERATION == 'IT') {
					PF('transferReceiveEditDlg').show();
				}
			}
			
			function handleTransSaveEditComplete(xhr, status, args) {		
				if (status == 'success') {
					PF('transferEditDlg').hide();
				}

				if(PrimeFaces.vb({s:this,a:true,u:'tranListForm:tranListGrid'})){PrimeFaces.ab({s:"tranListForm:j_idt58",u:"tranListForm:tranListGrid"});return false;}else{return false;}
			}
			
			function handleTransDisperseEditComplete(xhr, status, args) {  
			
				if (status == 'success') {
					PF('transferReceiveEditDlg').hide()
				}

				if(PrimeFaces.vb({s:this,a:true,u:'tranListForm:tranListGrid'})){PrimeFaces.ab({s:"tranListForm:j_idt58",u:"tranListForm:tranListGrid"});return false;}else{return false;}
			}
		</h:outputScript>
		
		</ui:define>
	</ui:composition>

</h:body>

</html>