<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<script type="text/javascript">
		if (parent) {
			parent.countDownInit();
		}
	</script>
</h:head>

<h:body>

	<h:form id="userForm">
		<input type="hidden" id="empId" name="empId" value="#{param['empId']}" />
		<p:panel header="Create new login" style="width:620px;align:center;">
			<p:messages autoUpdate="true" />
			<h:panelGrid columns="2" id="matchGrid" cellpadding="5"
				style="align:center">
				<p:spacer height="10"></p:spacer>
				<p:column colspan="2"></p:column>

				<p:outputLabel for="userName" value="User Name : " />
				<p:inputText id="userName" value="#{UserView.userName}"
					autocomplete="false" required="true"
					requiredMessage="User name is a mandatory field">
					<f:validateLength minimum="5" maximum="15" />
				</p:inputText>

				<p:outputLabel for="password" value="Password : " />
				<p:password id="password" value="#{UserView.password}"
					match="confPassword" label="Password" required="true"
					autocomplete="false"
					requiredMessage="Password is a mandatory field" feedback="true">
					<f:validateLength minimum="5" maximum="15" />
				</p:password>

				<p:outputLabel for="confPassword" value="Confirm Password : " />
				<p:password id="confPassword" value="#{UserView.confirmPassword}"
					label="Password" required="true" autocomplete="false"
					requiredMessage="Confirm password is a mandatory field">
					<f:validateLength minimum="5" maximum="15" />
				</p:password>

				<p:commandButton icon="ui-icon-check" value="Create" ajax="true"
					validateClient="true" style="margin-right:10px"
					action="#{UserView.submit()}">
					
				</p:commandButton>
			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>